{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<section class="mt-5">
    {% include "table.html" %}

    <div class="text-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add">Πρόσθεσε</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">Αφαίρεσε</button>
    </div>

    <!-- "Add" modal -->
    <div class="modal fade" id="add" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/add" method="post" autocomplete="off">
                        <div class="mb-3">
                            <label for="name" class="form-label">Όνομα</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Περιοχή</label>
                            <input type="text" name="location" class="form-control" id="location" required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Πότε;</label>
                            <input type="date" name="date" class="form-control" id="date">
                        </div>

                        <button type="submit" class="btn btn-success">Πρόσθεσε</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- "Delete" modal -->
    <div class="modal fade" id="delete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/delete" method="post" autocomplete="off">
                        <div class="mb-3">
                            <label for="name" class="form-label">Όνομα</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>

                        <button type="submit" class="btn btn-danger">Διάγραψε</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}