<table class="table table-striped table-hover table-bordered">
    <thead class="text-center">
        <tr>
            <th scope="col">Γιορτή</th>
            <th scope="col">Περιοχή</th>
            <th scope="col">Πότε;</th>
        </tr>
    </thead>
    <tbody>
        {% for festival in festivals %}
        <tr role="button" id="{{ festival.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <td>{{ festival.name }}</td>
            <td>{{ festival.location }}</td>
            <td>{{ festival.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>